@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>¡Ups! Algo salió mal.</h2>
<p>Ha ocurrido un error inesperado. Por favor, intenta de nuevo más tarde.</p>

<a href="@Url.Action("Index", "Home")" class="btn btn-primary mt-3">Volver al inicio</a>


